body{
    padding:0;
    margin:0;
    background:#e74c3c;
    font-family:monospace;
  }
  .color{
    margin-top:310px;
    text-align:center;
    
  }
  #hex{
    display:block;
    color:white;
    font-size:40px;
    text-transform:uppercase;
    margin:20px;
  }
  
  .color button{
    background:none;
    outline:none;
    color:white;
    border: 3px solid white;
    font-size:24px;
    cursor:pointer;
    border-radius:20px;
    
  }
  footer{
      position:relative;
      color:rgb(207, 204, 204);
      text-align:center;
      font-size:0.9rem;
  }

  @media only screen and (min-width:760px) and  (max-width:1200){
      .color{margin-top:400px;}
      body{
          font-size:40px;
      }
  }